@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.sent {
  @apply self-end max-w-[75%] md:max-w-[50%];
}

.sent span {
  @apply bg-blue-700 text-white py-1.5 rounded-2xl px-4 inline-block break-words;
}

.recieved {
  @apply self-start max-w-[75%] md:max-w-[50%];
}

.recieved span {
  @apply bg-gray-300 py-1.5 rounded-2xl px-4 inline-block break-words;
}

.rooms {
  scrollbar-width: none;
}

.rooms::-webkit-scrollbar {
  display: none;
}

.message {
  width: calc(100vw - 64px);
}

@media (min-width: 640px) {
  .message {
    width: calc(100vw - 240px - 64px);
  }
}

@media (min-width: 768px) {
  .message {
    width: calc(100vw - 240px - 128px);
  }
}
  
@media (min-width: 1024px) {
  .message {
    width: calc(100vw - 128px - 320px);
  }
}
